* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: #1b41ff;
    font-family: 'Poppins';
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
}

.glass {
    width: 1400px;
    height: 900px;
    // border: white solid 2px;
    border-radius: 5px;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, .4), rgba(255, 255, 255, .1));
    backdrop-filter: blur(25px );
    box-shadow: -15px 17px 17px rgb(58, 58, 223)
}